<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>onlineappointment</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PatientLoginController</display-name>
    <servlet-name>PatientLoginController</servlet-name>
    <servlet-class>project.com.controller.PatientLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLoginController</servlet-name>
    <url-pattern>/patientlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientProfileController</display-name>
    <servlet-name>PatientProfileController</servlet-name>
    <servlet-class>project.com.controller.PatientProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientProfileController</servlet-name>
    <url-pattern>/patientprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientSignUpController</display-name>
    <servlet-name>PatientSignUpController</servlet-name>
    <servlet-class>project.com.controller.PatientSignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSignUpController</servlet-name>
    <url-pattern>/patientsignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLogoutController</display-name>
    <servlet-name>PatientLogoutController</servlet-name>
    <servlet-class>project.com.controller.PatientLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLogoutController</servlet-name>
    <url-pattern>/patientlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChagePasswordController</display-name>
    <servlet-name>ChagePasswordController</servlet-name>
    <servlet-class>project.com.controller.ChagePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChagePasswordController</servlet-name>
    <url-pattern>/changepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackPostController</display-name>
    <servlet-name>FeedbackPostController</servlet-name>
    <servlet-class>project.com.controller.FeedbackPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackPostController</servlet-name>
    <url-pattern>/feedbackpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>project.com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>project.com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>NewPatient</display-name>
    <servlet-name>NewPatient</servlet-name>
    <servlet-class>project.com.controller.NewPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPatient</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDoctorController</display-name>
    <servlet-name>GetDoctorController</servlet-name>
    <servlet-class>project.com.controller.GetDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDoctorController</servlet-name>
    <url-pattern>/getdoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentController</display-name>
    <servlet-name>AppointmentController</servlet-name>
    <servlet-class>project.com.controller.AppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentController</servlet-name>
    <url-pattern>/getappointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>project.com.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddController</display-name>
    <servlet-name>AddController</servlet-name>
    <servlet-class>project.com.controller.AddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddController</servlet-name>
    <url-pattern>/addcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDeptController</display-name>
    <servlet-name>DeleteDeptController</servlet-name>
    <servlet-class>project.com.controller.DeleteDeptController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeptController</servlet-name>
    <url-pattern>/deletecontroller</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>UpdateDeptController</display-name>
    <servlet-name>UpdateDeptController</servlet-name>
    <servlet-class>project.com.controller.UpdateDeptController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeptController</servlet-name>
    <url-pattern>/updatecontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateDeptTableController</display-name>
    <servlet-name>UpdateDeptTableController</servlet-name>
    <servlet-class>project.com.controller.UpdateDeptTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeptTableController</servlet-name>
    <url-pattern>/updatedeptcontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UploadController</display-name>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>project.com.controller.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/uploadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportDownloadController</display-name>
    <servlet-name>ReportDownloadController</servlet-name>
    <servlet-class>project.com.controller.ReportDownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportDownloadController</servlet-name>
    <url-pattern>/reportdown</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReportController</display-name>
    <servlet-name>DeleteReportController</servlet-name>
    <servlet-class>project.com.controller.DeleteReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReportController</servlet-name>
    <url-pattern>/reportdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFeedBackController</display-name>
    <servlet-name>DeleteFeedBackController</servlet-name>
    <servlet-class>project.com.controller.DeleteFeedBackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFeedBackController</servlet-name>
    <url-pattern>/deletefeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostFeedBackcontroller</display-name>
    <servlet-name>PostFeedBackcontroller</servlet-name>
    <servlet-class>project.com.controller.PostFeedBackcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostFeedBackcontroller</servlet-name>
    <url-pattern>/postfeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllAppointmentController</display-name>
    <servlet-name>ViewAllAppointmentController</servlet-name>
    <servlet-class>project.com.controller.ViewAllAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAppointmentController</servlet-name>
    <url-pattern>/viewallappointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllRegisteredPatient</display-name>
    <servlet-name>ViewAllRegisteredPatient</servlet-name>
    <servlet-class>project.com.controller.ViewAllRegisteredPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllRegisteredPatient</servlet-name>
    <url-pattern>/registeredpatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDepartmentController</display-name>
    <servlet-name>ViewDepartmentController</servlet-name>
    <servlet-class>project.com.controller.ViewDepartmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDepartmentController</servlet-name>
    <url-pattern>/viewdept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFeedbackController</display-name>
    <servlet-name>ViewFeedbackController</servlet-name>
    <servlet-class>project.com.controller.ViewFeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFeedbackController</servlet-name>
    <url-pattern>/viewfeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPostedFeedback</display-name>
    <servlet-name>ViewPostedFeedback</servlet-name>
    <servlet-class>project.com.controller.ViewPostedFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPostedFeedback</servlet-name>
    <url-pattern>/availablefeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadReportJspController</display-name>
    <servlet-name>UploadReportJspController</servlet-name>
    <servlet-class>project.com.controller.UploadReportJspController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadReportJspController</servlet-name>
    <url-pattern>/uploadreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReportList</display-name>
    <servlet-name>ViewReportList</servlet-name>
    <servlet-class>project.com.controller.ViewReportList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReportList</servlet-name>
    <url-pattern>/recordlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackWriteController</display-name>
    <servlet-name>FeedbackWriteController</servlet-name>
    <servlet-class>project.com.controller.FeedbackWriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackWriteController</servlet-name>
    <url-pattern>/writefeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReportServlet</display-name>
    <servlet-name>GetReportServlet</servlet-name>
    <servlet-class>project.com.controller.GetReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReportServlet</servlet-name>
    <url-pattern>/getreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalPatientServlet</display-name>
    <servlet-name>TotalPatientServlet</servlet-name>
    <servlet-class>project.com.controller.TotalPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalPatientServlet</servlet-name>
    <url-pattern>/totalpatient</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>TodayAppointmentServlet</display-name>
    <servlet-name>TodayAppointmentServlet</servlet-name>
    <servlet-class>project.com.controller.TodayAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodayAppointmentServlet</servlet-name>
    <url-pattern>/todaypatient</url-pattern>
  </servlet-mapping>
</web-app>