body {
  overflow-x: hidden;
  color: #000;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  background-image:url("background.png");
	background-repeat:no-repeat;
	background-size:cover;
	z-index:-1;
	
  font-family:sans-serif;

  }
  
#tag{
	
	height:120px;
	padding-top:40px;
	padding-left:250px;
	padding-right:0px;
	font-size:40px;
	float:left;
    display: block;
    background-color: white;
	color:#000080;
	font-family:Courier New;
  
}



input[type=text]{
  width: 95%;
  /* padding: 12px; */
  border:none;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size:18px;
  font-family:Courier New;
  background-color:rgba(255,255,255,0);
}

label {
  /* padding: 12px 12px 12px 0; */
  color:#0033cc;
  padding-left:30px;
  display: inline-block;
  font-size:18px;
  font-family:Times New Roman;
  font-weight:0px;
}

form{
	background-color:rgba(255,255,255,0.5);
	padding-top:20px;
	width:60%;
	margin:auto;
}
#aptmt_receipt{
	color:#00134d;
	font-size:25px;
	padding-left:15px;
	font-family:Courier New;
	text-align:left;
	font-weight:bold;
	text-decoration:underline;
	/* background-color:white; */
}

#sub_heading{
	color:#00134d;
	font-size:25px;
	padding-left:15px;
	padding-top:15px;
	font-family:Courier New;
	text-align:left;
	font-weight:bold;
}

#gender{
	font-size:17px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

table{
	margin-left:20px;
	margin-top:5px;
	font-size:18px;
	font-family:Courier New;
    font-weight:bold;
}
tr,td{
	border:1px solid rgba(255,255,255,0);
	padding:5px 50px;
}

#bottom{
	margin-top:30px;
	margin-bottom:60px;
	padding-bottom:50px;
	
}

footer{
	background-color:#053582;
	height:50px;
	margin-top:50px;
}

#copyright{
	padding-top:15px;
	padding-left:40px;
	font-family:Courier New;
    color:white;
	font-size:17px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
