html,body {
	overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  margin:auto;
  background-repeat:no-repeat;
	background-size:cover;
	z-index:-1;
}
   
#content_body{
	margin-top: 40px;
}

#sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  float:left;
  background-color:blue;
  overflow-x: hidden;
  padding-top:5px;
  margin-top:90px;
}


#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size:14px;
  color: white;
  display: block;
}

#sidebar a:hover {
border: solid 1px black;
background-color:black;
}

#main {
 height:100%;
 margin-top:10px;
 float: right;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
  font-size:20px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/*
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:black;
}
*/
.thumbnail{
	height:200px;
	cursor:pointer;
}
.img-group{
	
    opacity:0.7;
}
.img-group:hover{
	opacity:1;
  /* color:rgba(255,255,255,0); */
}
/* .centered:hover{ */
	
/* } */
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
  /* color:rgba(255,255,255,0.8); */
  /* font-weight:10; */
}


.heading{
height:20px;
font-size:35px;
margin-top:20px;
margin-bottom:20px;
position:relative;
z-index:-1;
width:100%;
}

#feebback_content{
	barder : 1px solid grey;
	padding-left:5px;
	paading-top:5px;
	
}
